/* Add shadows to create the "card" effect */
.card {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 50%;
  height: 50%;
  border-radius: 5px;
  margin: auto;
  position: relative;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(84, 31, 209, 0.384);
}

/* Add some padding inside the card container */
.container {
  margin: auto;
  position: relative;
  padding: 2px 16px;
}
