{{define "dashboard"}} {{template "header" .}}
<div id="dash">
  <div id="topRow">
    <div id="radarchart">
      <div id="radarOptions">
        <div id="currenttime"></div>

        <button id="fullscreenradarchart">&#xe5d0;Bubbles</button>

        <select id="radarchartfilterquan" class="tablefilter">
          {{ range $key, $val := .radarfilters }}
          <option value="{{$key}}">{{$val}}</option>
          {{ end }}
        </select>

        <select id="radarchartfiltertype" class="tablefilter">
          <option value=">=">>=</option>
          <option value=">">></option>
          <option value="=">=</option>
          <option value="<"><</option>
          <option value="<="><=</option>
          <option value="!=">!=</option>
        </select>

        <input
          id="radarchartfiltervalue"
          class="tablefilter"
          type="number"
          placeholder="put a number here"
        />

        <button id="radarchartaddfilterbutton" class="tablefilter">
          Apply Filter
        </button>

        <button id="radarchartclearfilterbutton" class="tablefilter">
          Clear Filters
        </button>

        <button id="togglecolorbutton">Fix Colors</button>
        <button id="toggleradarbutton">Updating Live</button>

        <div id="currentfilters"></div>
        <br />
        <button id="togglexlogscalebutton">X Linear Scale</button>
        <button id="toggleylogscalebutton">Y Linear Scale</button>
        X Axis:
        <select id="xaxisquan">
          {{ range $key, $val := .radarfilters }}
          <option value="{{$key}}">{{$val}}</option>
          {{ end }}
        </select>
        Y Axis:
        <select id="yaxisquan">
          {{ range $key, $val := .radarfilters }}
          <option value="{{$key}}">{{$val}}</option>
          {{ end }}
        </select>
        Z Axis:
        <select id="zaxisquan">
          {{ range $key, $val := .radarfilters }}
          <option value="{{$key}}">{{$val}}</option>
          {{ end }}
        </select>
      </div>
      <div id="radarcontainer"></div>
    </div>

    <div id="stockchart">
      <div id="stockchartOptions">
        <button id="fullscreenstockchart">
          Graph<i class="material-icons">&#xe5d0;</i>
        </button>
        <button id="stockChartResetZoom">Updating Live</button>
        <button id="stockChartDrawing">Enable Line Drawing</button>
        <button id="stockaxislog">Linear Graph</button>
        <select id="stockaxisquan">
          {{ range $key, $val := .radarfilters }}
          <option value="{{$key}}">{{$val}}</option>
          {{ end }}
        </select>
      </div>
      <div id="stockchartContainer"></div>
    </div>
  </div>
  <div id="bottomRow">
    <div id="statchartsSidebyside">
      <div id="statchartsContainer">
        <div id="statchartsOptions">{{ .ipaddress }}</div>
        <div id="tableofradar"></div>
      </div>
      <div id="indicatortableContainer">
        <div id="indicatoroptions">
          <select id="indicatorquan">
            {{ range $key, $val := .indicators }}
            <option value="{{$key}}">{{$val}}</option>
            {{ end }}
          </select>
        </div>
        <div id="tableofindicatoragain"></div>
      </div>
      <div id="indicatortableContaineragain">
        <div id="tableofindicatoragain"></div>
        <select id="indicatorquanagain">
          {{ range $key, $val := .indicators }}
          <option value="{{$key}}">{{$val}}</option>
          {{ end }}
        </select>
      </div>
      <div id="tableofindicatoragain"></div>
    </div>
  </div>
</div>
{{template "footer" .}} {{end}}
