{{define "home"}}

{{template "header" .}}
<div id="ipaddress">{{ .metadata.ipaddress }}</div>
<div class="card">
  <div class="container">
    <h2 class="center-layout" style="text-align:center;font-size:30px">R2D2</h2>
    <p class="center-layout" style="text-align:center;font-size:25px">A vision and product of Boston Asia Capital. 
      <br>R2D2 is the visual Enterprise Web Application Front End 
      <br> for the Dynamic Automated Riskless Trading Platform,
      <br> powered by the proprietary & copy HAL Backend 
      </br>
      </br>
      </br> 
    </p>
  </div>
</div>
{{template "footer" .}}

{{end}}