{{define "trades"}} {{template "header" .}}
<div id="dash">
  <div id="ipaddress">{{ .ipaddress }}</div>
  <div id="left" style="width:30%">
    <div id="radarContainer" style="height:40%">
      <div id="radarOptions">
        <input id="symbolinput" type="text" placeholder="type symbol here" />
        <button id="symbolinputbutton">Change Symbol</button>
        <select id="quadrantinput">
          <option value="all">All</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
        <button id="quadrantinputbutton">Change Quadrant</button>
        <button id="togglexlogscalebutton">X Log Scale</button>
        <button id="toggleylogscalebutton">Y Log Scale</button>
      </div>
      <div id="radar"></div>
    </div>
    <p>Q 1</p>
    <div id="quadrant1Container" style="height:15%">
      <!-- <div id="quadrant1Options"></div> -->
      <div id="quadrant1table"></div>
    </div>
    <p>Q 2</p>
    <div id="quadrant2Container" style="height:15%">
      <!-- <div id="quadrant2Options"></div> -->
      <div id="quadrant2table"></div>
    </div>
    <p>Q 3</p>
    <div id="quadrant3Container" style="height:15%">
      <!-- <div id="quadrant3Options"></div> -->
      <div id="quadrant3table"></div>
    </div>
    <p>Q 4</p>
    <div id="quadrant4Container" style="height:15%">
      <!-- <div id="quadrant4Options"></div> -->
      <div id="quadrant4table"></div>
    </div>
  </div>
  <div id="right" style="width:100%">
    <div id="spacecontainer" style="height:70%"><br>Chart to be added for Symbol Data ...</div>
    <div id="zoneContainer" style="height:30%" >
      <div id="zoneOptions"></div>
      <div id="zonetable"></div>
    </div>
  </div>
</div>
{{template "footer" .}} {{end}}
