{{define "trading"}} {{template "header" .}}
<div id="dash">
  <div id="ipaddress">{{ .ipaddress }}</div>
  <div id="symbol">{{ .symbol }}</div>
  <div id="topRow">
    <div id="stockchart">
      <div id="stockchartOptions">
        <button id="fullscreenstockchart">
          Graph<i class="material-icons">&#xe5d0;</i>
        </button>
        <input
          id="symbolinput"
          class="tablefilter"
          type="text"
          placeholder="type symbol here"
        />
        <button id="symbolinputbutton" class="tablefilter">
          Change Symbol
        </button>
        <button id="stockChartResetZoom">Updating Live</button>
        <button id="stockChartDrawing">Enable Line Drawing</button>
      </div>
      <div id="stockchartContainer"></div>
    </div>
  </div>
  <div id="bottomRow">
    <div id="statchartsContainer">
      <div id="statchartsOptions"></div>
      <div id="statchartsSidebyside">
        <div id="tableofradar"></div>
        <div id="inMktChartContainer"></div>
        <div id="inMktSimChartContainer"></div>
      </div>
    </div>
  </div>
</div>
{{template "footer" .}} {{end}}
